@charset "UTF-8";
*{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(247, 242, 242);
}
.titulo h1{
	font-size: 30px;
    text-align: center;
    background-color: #580ef6;
    color: white;
    width: 330px;
    height: 45px;
    padding: 10;
    border-radius: 20px 20px 0 0;
}
.container{
   margin: 70px auto;
    box-shadow: 0px 0px 4px 1px #757575;
    border-radius: 20px 20px 5px 5px;
    width: 350px;
    height: 440px;
    background-color: white;
}
 form:nth-child(1) button{
	margin-left: 39px;
	margin-top:15px;
}
input{
	margin: 5px 0;
}
.formulario{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulario label{
	margin-bottom: 5px;
}
.formulario form:nth-child(1){
	margin-top: 20px;
}
.formulario form:nth-child(2){
	margin-top: 10px;
}
button{
    border: none;
    box-shadow: 0px 0px 0.5px 1px #757575;
    padding: 5px;
    cursor: pointer;
    background-color: #ddf127;
}
.inicio{
	background-color:white;
	margin: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.inicio:hover{
    cursor: pointer;
    transform: scale(1.1);
    z-index: +1;
}